.unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.ws-btn{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 32px;
    justify-content: center;
    align-self: center;
    padding: 15px;
    background-color: var(--main-color);
    display: inline-block;
}

.ws-btn-red{
    color: var(--red-color);
    border: solid 1px var(--red-color);
}
.ws-btn-red:hover{
    background-color: var(--red-color);
    color: var(--main-color);
}

.ws-btn-yellow{
    color: var(--yellow-color);
    border: solid 1px var(--yellow-color);
}
.ws-btn-yellow:hover{
    background-color: var(--yellow-color);
    color: var(--main-color);
}

.ws-btn-dark{
    color: var(--dark-color);
    border: solid 1px var(--dark-color);
}
.ws-btn-dark:hover{
    background-color: var(--dark-color);
    color: var(--main-color);
}
