/* ---- GLOBALE ---- */

/* MAIN */

section{
    margin: 100px 0;
}

    /* WORKSHOP */

section.ws-right .ws-info, section.ws-left .ws-info {
    z-index: 1;
    background-color: white;    
    position: absolute;   
    padding: 15px;
    text-align: left;
}

.ws-annexe > p{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}
.ws-annexe > a {
    margin-top: 100px;
}

section.ws-left div.carousel-item::after, section.ws-right div.carousel-item::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

section.ws-right .ws-info > a {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

        /* WORKSHOP TERMINES */

section.ws-right .ws-annexe > h2, section.ws-right .ws-annexe > p {
    text-align: left;
}

section.ws-right .ws-annexe > p{
    color: var(--red-color);
}

section.ws-right div.carousel-item::after{
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4937325271905637) 50%, rgba(255,255,255,1) 100%);
}
        /* WORKSHOP A VENIR */

section.ws-left .ws-annexe > h2, section.ws-left .ws-annexe > p {
    text-align: right;
}
section.ws-left .ws-annexe > p{
    color: var(--yellow-color);
}

section.ws-left .ws-info > p {
    margin-bottom: 3rem;
}

section.ws-left div.carousel-item::after{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4937325271905637) 50%, rgba(255,255,255,0) 100%);
}

        /* CARROUSEL */

.carousel-indicators.car-red li {
    background-color: var(--red-color);
}
.carousel-indicators.car-yellow li{
    background-color: var(--yellow-color);
}
.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    width: 40px;
    height: 40px;
}
.carousel-indicators{
    bottom: -50px!important;
}

    /* CONTACT */

section.contact{
    text-align: left;
}

section.contact div.address_contact{
    font-size: 1.125rem;
    padding-left: 50px;
}

section.contact div.address_contact h2{
    margin-bottom: 20px;
}

section.contact div.address_contact h4{
    margin-bottom: 20px;
    color: var(--orange-color);
}
section.contact div.address_contact h4, section.contact div.address_contact p{
    text-transform: uppercase;
}

/* ---- BUREAU ---- */

@media screen and (min-width:850px){

    /* ELEMENTS */

    body{        
        background: url(images/Backgroundbureau.svg) no-repeat;
        background-size:100%;
    }  

    div.carousel-item > img {
        height: 56.25vh; /* height:width ratio = 9/16 = .5625  */
        max-height: 100vh;
    }

    /* MAIN */

    main{
        display: grid;
        grid-gap: 20px;
        justify-content: center;
        grid-template-columns: 1fr repeat(3,minmax(0,320px)) 1fr;
    }
    
    /* WORKSHOP */

    section.ws-right, section.ws-left {
        position: relative;
        grid-column: 2 / span 3;
        display: grid;
        grid-template-rows: minmax(0,auto);
    }
    
    /* WORKSHOP TERMINES */

    section.ws-right .ws-annexe{
        grid-column: 3 / span 1;
        grid-row: 1;
    }
    section.ws-right .ws-annexe *{
        position: relative;
        z-index: 4;
    }
    section.ws-right .ws-annexe > p{
        left: 15px;
        padding: 15px;
    }
    section.ws-right .ws-annexe > h2{
        left: -15px;
        padding: 15px;    }

    section.ws-right .ws-annexe > a{
        top: 100px;
    }
    section.ws-right .ws-info{
        position: absolute;
        grid-column: 1 / span 1;
        grid-row: 1;
        left: 50px;    
        bottom: -20px;
        height: 90px;
        transition: 0.5s ease-in-out;
        width: 200px;
    }
    section.ws-right .ws-info.active{
        height: 145px;
    }

    section.ws-right .ws-info > a {
        opacity: 0;
    }
    
    section.ws-right .ws-info.active > a {
        opacity: 1;
    }
    /* section.ws-right .ws-info:hover{
        left: 50px;
        top: 30vh;
        height: 25vh;
    } */
    section.ws-right .ws_carrousel{
        grid-column: 1 / span 2;
        grid-row: 1;
    }    

    /* WORKSHOP A VENIR */

    section.ws-left .ws-annexe{
        grid-column: 1 / span 1;
        grid-row: 1;
    }
    section.ws-left .ws-annexe *{
        position: relative;
        z-index: 4;
    }
    section.ws-left .ws-annexe > p{
        padding: 15px;
    }
    section.ws-left .ws-annexe > h2 {
        left: 50px;
        padding: 15px;
    }
    section.ws-left .ws-info{
        grid-column: 3 / span 1;
        grid-row: 1;
        height: 145px;
        bottom: -20px;
        right: 20px;    
        width: 200px;
    }
    section.ws-left .ws_carrousel{
        grid-column: 2 / span 2;
        grid-row: 1;
    }
    section.ws-left .ws-annexe > a{
        top: 100px;
    }    

    /* CONTACT */

    section.contact{
        grid-column: 2 / span 3;
        display: grid;
        grid-template-rows: minmax(0,auto);
        position: relative;
    }
    section.contact iframe{
        grid-column: 2 / span 1;
        grid-row: 1;
    }
    section.contact .address_contact{
        grid-column: 3 / span 1;
        grid-row: 1;
    }

}

/* ---- MOBILE ---- */

@media screen and (max-width:850px){

    /* ELEMENTS */

    body{        
        background: url(images/Backgroundmobil.svg) no-repeat;        
        background-size:100%;
    }    

    /* MAIN */

    .button-creation{
        position: relative;
        top: 40px;
    }

        /* WORKSHOP */

    section.ws-right .ws-info, section.ws-left .ws-info{
        width: 200px;
        position: relative;
        top: -40px;
        left: 55%;
    }

    .ws-annexe > p {
        font-size: 1rem;
        margin-bottom: 50px;
    }
    .ws-annexe {
        margin: 30px 0;
    }

            /* WORKSHOP TERMINES */

    section.ws-right .ws-annexe > h2, section.ws-right .ws-annexe > p {
        padding-left: 10vw;
        padding-right: 20px;
    }
    section.ws-right .ws-info {
        height: 145px;
    }

            /* WORKSHOP A VENIR */

    section.ws-left .ws-annexe > h2, section.ws-left .ws-annexe > p {
        padding-right: 10vw;
        padding-left: 20px;
    }

        /* CARROUSEL */
    
    div.carousel-item > img {
        height: 30vh;
        width: 80vw!important;
        margin-left: auto;
        margin-right: auto;             
    }

}