/* BUREAU */

@media screen and (min-width:850px){

    /* HEADER */

    header > #header_nav a.logo{
        position: absolute;
        text-align: left;
        top: 20px;
        bottom: 0;
        left: 20px;
        font-weight: 700;
        font-size: 1.3rem;
        text-transform: uppercase;
        display: block;
    }

    #header_nav{
        display: block;
        position: absolute;
        top: 0;
        z-index: 2;
        overflow: hidden;
        width: 100%;
        height: 15vh;
        visibility: visible;
    }
    header #header_nav ul{
        display: flex;
        justify-content: flex-end;
        font-weight: 700;
        font-size: 1.3rem;
        margin: 0;
        padding: 0;
    }

    header > #header_nav ul li{
        padding-left:5px;
        padding-right: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 40px;
    }

    .nav-toggle{
        display: none;
    }

    li a{
        display: block;
        margin: 0;
    }

    nav.footer-icon ul{
      display:flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      margin-top: 75px;
    }

    .footer-icon ul li{
      padding: 20px 10px 20px 0px;
      margin:0;
    }

    footer > *{
      text-align: left;
    }


    /* POSITIONNEMENT */

    /* POSTIONNEMENT HEADER */

    header{
        display: grid;
        grid-template-columns: 1fr repeat(4,minmax(0,260px)) 1fr;
        grid-gap: 20px;
    }

    header > div.title-homepage{
        grid-column: 2 / span 2;
    }

    header > div.button-homepage {
        grid-column: 2 / span 2;
        grid-row: 2/ span 1;
    }

    header > svg.icon-logo {
        margin-top: 20vh;
        width: 40vw;
        margin-left: 20px;
        grid-column: 4 / span 2;
        grid-row: 1 / span 2;
    }

    div.hr.active {
        border: 2px solid var(--orange-color);
        border-radius: 5px;
        background-color: var(--orange-color);
    }

    /* POSTIONNEMENT FOOTER */
    footer {
      margin:0;
    }

    .background-footer{
      /*background-color: var(--dark-color);*/
      margin: 0;
      position: relative;
      width:100%;
      height: 0px;
      padding: 50px -1px 50px 0px;
    }

    .child1{
      position: absolute;
    }

    .flux{
      width: 100%;
      margin: 0px;
      margin-top: -320px;
      padding: 0px;
      padding-top: 50px;
    }

    div.footer-information{
      display: grid;
      grid-template-columns: 1fr repeat(3,minmax(0,320px)) 1fr;
      grid-gap: 2vw;
      position: absolute;
      z-index: 1;
      width: 100%;
      padding-right: 10vw;
      padding-left: 10vw;
      padding-bottom: 6vw;
      background-color: var(--dark-color);
    }

    div.footer-information *{
      grid-row: 1;
    }

    .footer-address{
      grid-column: 4 / span 1;
    }
    .footer-confidentialite{
      grid-column: 3 / span 1;
    }
    .footer-icon{
      grid-column: 3 / span 1;
    }
    .footer-nav-secondaire{
      grid-column: 2 / span 1;
    }

    #facebook, #instagram, #twitter{
      width: 5vw;
    }

    div.footer-logo{
      display: none;
    }

}

/* FORMAT MOBILE INFERIEUR A 850px */

@media screen and (max-width:850px){

    h1{
        font-size:3.6rem;
    }

    h2{
        font-size: 2rem;
    }

    h4{
        font-size: 1.6rem;
    }

    p{
      font-size: 1.2rem;
    }

    /* Mise en forme menu */
    header .nav_principale{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--dark-color);
        transition: all 0.6s ease-in-out;
        transform: translateX(100vW);
        visibility: hidden;
        z-index: 99;
    }
    header .nav_principale.open {
        transform: translateX(0);
        visibility:visible;
    }

    header .nav_principale ul{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 1.4rem;
      height: 100vh;
    }

    header .nav_principale ul li{
      margin-bottom: 30px;
    }

    .nav_principale ul li a{
        color: var(--main-color);
    }

    .nav_principale.open ul li:hover{
        color: var(--orange-color);
    }

    /* Icone de menu hamburger */
    .nav-toggle {
      width: 30px;
      height: 30px;
      position: absolute;
      right: 30px;
      top: 30px;
      display: flex;
      align-items: center;
      z-index: 100;
    }

    .nav-toggle-bar,
    .nav-toggle-bar::before,
    .nav-toggle-bar::after{
      content: "";
      height: 2px;
      width: 100%;
      background-color: var(--dark-color);
      position: absolute;
      transition: all 0.6s ease-in-out;
    }

    .nav-toggle-bar::before{
      top: 10px;
      right: 0px;
    }

    .nav-toggle-bar::after{
      right: 0px;
      top: -10px;
    }

    /* transition icone de menu*/

    .nav-toggle.active .nav-toggle-bar{
      transform: rotate(135deg);
      background-color: var(--main-color);
    }

    .nav-toggle.active .nav-toggle-bar::before,
    .nav-toggle.active .nav-toggle-bar::after{
      top:0;
      transform: rotate(-90deg);
      background-color: var(--main-color);
    }

    .nav-toggle.active{
      position: fixed; 
      /* fixe l'icon dans le menu active, empêche au scroll qu'il disparaisse */
    }

    /* MAIN */

    /* POSTIONNEMENT FOOTER */
    footer {
      margin:0;
    }

    .background-footer{
      /*background-color: var(--dark-color);*/
      margin: 0;
      position: relative;
      width:100%;
      height: 0px;
      padding: 50px -1px 50px 0px;
    }

    .child1{
      position: absolute;
    }

    .flux{
      width: 100%;
      margin: 0px;
      margin-top: -240px;
      padding: 0px;
      padding-top: 100px;
    }

    div.footer-information{
      z-index: 1;
      width: 100%;
      padding: 10vh;
      padding-top: 15vh;
      padding-right: 10vh;
      padding-left: 20vw;
      background-color: var(--dark-color);
      text-align: left;
    }

    div.footer-logo *{
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
    }

    div.footer-logo{
      position: absolute;
      z-index: 2;
      margin-left: 20vw;
      width: 10%;
      height: 10%;
      margin-top: -20px;
      margin-bottom: 20px;
    }

    div.footer-logo img{
      margin-right: 15px;
      margin-left: 10vh;
    }

    div.footer-logo a{
      text-align: left;
      text-transform: uppercase;
    }

    .footer-adress{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 5vh 0vh 5vh 0vh;
    }

    .footer-confidentialite{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 5vh 0vh 5vh 0vh;
    }

    .footer-icon ul{
      display: flex;
      flex-direction: row;
      padding: 0;
    }

    .footer-icon ul li{
      padding: 0px 20px 0px 0px;
      margin:0;
    }

    .footer-nav-secondaire{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 5vh 0vh 5vh 0vh;
    }

    #facebook, #instagram, #twitter{
      width: 5vw;
    }

}
