:root{

    /* COLORS */
    --main-color: white;
    --black-color: black;
    --dark-color: #001C38;
    --yellow-color:#FFC900;
    --orange-color:#FF9928;
    --red-color:#F9214C;
    --blue-color:#0A5960;
    --light-blue-color:#3891A0;

}

html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', sans-serif;
    color: var(--dark-color);
    text-align: center;
    position: relative;
}

main{
    min-height: 100vh;
}

/* TITLES */

h1, h2, h3, h4, h5, h6{
    font-family: 'Helvetica', sans-serif;
    font-weight: Bold;
    text-transform: uppercase;
    margin: 0;
}

h1{
    font-size: 6rem;
    margin: 0;
}

h2{
    font-size: 5rem;
    line-height: 1.4;
}

h3{
    font-size: 3rem;
}

h4{
  font-size: 2rem;
  font-weight: bold;
}

p{
  color: var(--light-blue-color);
  text-transform: uppercase;
  font-size: 1.6rem;
}

/* LISTES */
ul li {
  list-style: none;
}

/* COMPOSANTS */

img {
    /*responsive img*/
      max-width: 100%;
      height: auto;
}

a, a:hover{
    text-decoration: none;
    color: var(--dark-color);
}

div.hr.active{
    border: 2px solid var(--orange-color);
    border-radius: 5px;
}

/* HEADER */

header{
    justify-content: center;
    margin-bottom: 10vh;
}
header > div.title{
    display: grid;
    margin-top: 25vh;
    margin-left: 10vw;
    margin-bottom: -20vh;
    text-align: left;
  }
/* FOOTER */

footer *{
    font-size: 1.25rem;
    color: var(--main-color);
}

footer a:hover{
    color: var(--orange-color);
}

/* MAP */

iframe{
    display: block;
    width: 100%;
    height: 300px;
    border: none;
}

/* NAVIGUATION */

header nav ul{
  text-transform: uppercase;
}

/* MDB changement */

.custom-control-input:checked~.custom-control-label::before{
    color: var(--main-color);
    border-color: var(--dark-color);
    background-color: var(--dark-color);
}

.custom-select, .custom-number{
    border: 2px solid var(--dark-color);
    border-radius: 5px;
    font-size: 1.5rem;
}

.md-form{
    margin-bottom: 2.5rem;
}