:root{

    /* COLORS */
    --main-color: white;
    --black-color: black;
    --dark-color: #001C38;
    --yellow-color:#FFC900;
    --orange-color:#FF9928;
    --red-color:#F9214C;
    --blue-color:#0A5960;
    --light-blue-color:#3891A0;

}

html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', sans-serif;
    font: 300 1.6rem/1.6;
    color: var(--dark-color);
    text-align: center;
}

/* TITLES */

h1, h2, h3, h4, h5, h6{
    font-family: 'Helvetica', sans-serif;
    font-weight: Bold;
    text-transform: uppercase;
    margin: 0;
}
h1{
    font-size: 80px;
    line-height: 97px;
    margin: 0;
}
h2{
    font-size: 60px;
    line-height: 1.4;
}
h3{
    font-size: 2rem;
}

/* BASES */

img {
    /*responsive img*/
      max-width: 100%;
      height: auto;
}

a, a:hover{
    text-decoration: none;
    color: var(--dark-color);
}

.unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.ws-btn{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 32px;
    justify-content: center;
    align-self: center;
    padding: 15px;
    background-color: var(--main-color);
}

.ws-btn-red{
    color: var(--red-color);
    border: solid 1px var(--red-color);
}
.ws-btn-red:hover{
    background-color: var(--red-color);
    color: var(--main-color);
}

.ws-btn-yellow{
    color: var(--yellow-color);
    border: solid 1px var(--yellow-color);
}
.ws-btn-yellow:hover{
    background-color: var(--yellow-color);
    color: var(--main-color);
}

.ws-btn-dark{
    color: var(--dark-color);
    border: solid 1px var(--dark-color);
}
.ws-btn-dark:hover{
    background-color: var(--dark-color);
    color: var(--main-color);
}


/* HEADER */


header{
    display: grid;
    grid-template-columns: 1fr repeat(4,minmax(0,260px)) 1fr;
    grid-gap: 20px;
    justify-content: center;
    margin: 10vh 0;
  }

header > div.title_homepage {
    margin-top: 20vh;
    text-align: left;
    grid-column: 2 / span 2;
}
header div.title_homepage p {
    color: var(--light-blue-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
}

header > a.button_creation {
    grid-column: 2 / span 1;
}

header > svg.icon_logo {
    margin-top: 20vh;
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
}



/* NAV */

nav.nav_principale{
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: var(--main-color);
    overflow: hidden;
    width: 100%;
    height: 15vh;
}
header nav.nav_principale ul{
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 1.3rem;
}

header > nav.nav_principale ul li a:hover {
    border-bottom: solid 3px var(--orange-color);
    border-radius:2px;
}

header > nav.nav_principale ul li{
    padding-left:5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 40px;
}

header > nav.nav_principale a.logo{
    position: absolute;
    text-align: left;
    top: 20px;
    bottom: 0;
    left: 20px;
    font-weight: 700;
    font-size: 1.3rem;
    text-transform: uppercase;
}

li a{
    display: block;
    margin: 0;
}

/* MAIN */

main{
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    grid-template-columns: 1fr repeat(3,minmax(0,320px)) 1fr;
}

.ws_annexe > p{
    color: var(--red-color);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
}

.ws_annexe > a {
    margin-top: 100px;
}


/* FOOTER */

footer{
    background-color: var(--dark-color);
}

footer *{
  color: var(--main-color);
}

/* POSITIONNEMENT */

/* HOME PAGE */

/* WORKSHOP */

section.workshop_termines, section.workshop_a_venir {
    grid-column: 2 / span 3;
    display: grid;
    grid-template-rows: minmax(0,auto);
}

/* WORKSHOP TERMINES */

section.workshop_termines .ws_annexe{
    grid-column: 3 / span 1;
    grid-row: 1;
}

section.workshop_termines .ws_annexe > p{
    text-align: right;
}
section.workshop_termines .ws_annexe > h2{
    text-align: left;
}


section.workshop_termines .ws_info{
    grid-column: 1 / span 1;
    grid-row: 1;
}

section.workshop_termines .ws_carrousel{
    grid-column: 1 / span 2;
    grid-row: 1;
}

/* WORKSHOP A VENIR */

section.workshop_a_venir .ws_annexe{
    grid-column: 1 / span 1;
    grid-row: 1;
}
section.workshop_a_venir .ws_annexe > p{
    text-align: left;
}
section.workshop_a_venir .ws_annexe > h2 {
    text-align: right;
}

section.workshop_a_venir .ws_info{
    grid-column: 3 / span 1;
    grid-row: 1;
}

section.workshop_a_venir .ws_carrousel{
    grid-column: 2 / span 2;
    grid-row: 1;
}

/* CONTACT */

section.contact{
    grid-column: 1 / span 5;
}

/* SVG */

.svg_1{
    z-index: -1;
    position: absolute;
    left: -8vw;
}