:root{

    /* COLORS */
    --main-color: white;
    --black-color: black;
    --dark-color: #001C38;
    --yellow-color:#FFC900;
    --orange-color:#FF9928;
    --red-color:#F9214C;
    --blue-color:#0A5960;
    --light-blue-color:#3891A0;

}

html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', sans-serif;
    font: 300 1.6rem/1.6;
    color: var(--dark-color);
    text-align: center;
}

/* TITLES */

h1, h2, h3, h4, h5, h6{
    font-family: 'Helvetica', sans-serif;
    font-weight: Bold;
    text-transform: uppercase;
    margin: 0;
}
h1{
    font-size: 5rem;
    margin: 0;
}
h2{
    font-size: 3.75rem;
    line-height: 1.4;
}
h3{
    font-size: 2rem;
}

/* COMPOSANTS */

img {
    /*responsive img*/
      max-width: 100%;
      height: auto;
}

a, a:hover{
    text-decoration: none;
    color: var(--dark-color);
}

.unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.ws-btn{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 32px;
    justify-content: center;
    align-self: center;
    padding: 15px;
    background-color: var(--main-color);
}

.ws-btn-red{
    color: var(--red-color);
    border: solid 1px var(--red-color);
}
.ws-btn-red:hover{
    background-color: var(--red-color);
    color: var(--main-color);
}

.ws-btn-yellow{
    color: var(--yellow-color);
    border: solid 1px var(--yellow-color);
}
.ws-btn-yellow:hover{
    background-color: var(--yellow-color);
    color: var(--main-color);
}

.ws-btn-dark{
    color: var(--dark-color);
    border: solid 1px var(--dark-color);
}
.ws-btn-dark:hover{
    background-color: var(--dark-color);
    color: var(--main-color);
}


/* HEADER */

header{
    justify-content: center;
    margin: 10vh 0;
}
header > div.title_homepage {
    text-align: left;
}
header div.title_homepage p {
    color: var(--light-blue-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.625rem;
}

/* MAIN */

.carousel-indicators.car-red li {
    background-color: var(--red-color);
}

.carousel-indicators.car-yellow li{
    background-color: var(--yellow-color);
}

.ws_annexe > p{
    color: var(--red-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.ws_annexe > a {
    margin-top: 100px;
}

div.carousel-item > img {
    height: 50vh;
}

/* SECTION */

section{
    margin: 20px 0;
}

section.contact{
    text-align: left;
}

section.contact div.address_contact{
    font-size: 1.125rem;
    padding-left: 50px;
}

section.contact div.address_contact h2{
    font-size: 3.75rem;
    margin-bottom: 20px;
}

section.contact div.address_contact h4{
    margin-bottom: 20px;
    color: var(--orange-color);
}
section.contact div.address_contact h4, section.contact div.address_contact p{
    text-transform: uppercase;
}
/*list-c-*/
li {
  list-style: none;
  text-decoration: none;
}

/* MAP */

iframe{
    display: block;
    width: 100%;
    height: 300px;
    border: none;
}

/* FOOTER */

footer *{
    font-size: 1.25rem;
    color: var(--main-color);
}

footer a:hover{
    color: var(--orange-color);
}

/* SVG */

.svg_1{
    display: none;
}

.svg_footer{
    width: 100vw;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
