/* ---- GLOBALE FORMAT DESKTOP ---- */

body{
    background: url(images/Backgroundbureau.svg) no-repeat;
    background-size:100%;
    max-width: 100%;
    height: 100%;
}

/* HEADER */

.title > a.button-wscrea{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

  
  /* ---- Responsive desktop Homepage ---- */
@media screen and (min-width:850px){

    /* MAIN */

    main{
        display: grid;
        grid-gap: 20px;
        justify-content: center;
        grid-template-columns: 1fr repeat(3,minmax(0,320px)) 1fr;
        margin-bottom: 25vh;
    }
}

/* ---- Responsive mobile Homepage ---- */
@media screen and (max-width:850px){

    /* ELEMENTS */

    body{
        background: url(images/Backgroundmobil.svg) no-repeat;
        background-size:100%;
    }

    /* HEADER */

    header > svg.icon-logo {
        margin-top: 11vh;
        width: 50vw;
        margin-right: -30vw;
    }

    .title > a.button-wscrea{
        width: 75%;
        margin-right: 20px;
    }

    /* MAIN */
    main{
        margin-bottom: 25vh;
    }
}