/*body {
  background: url(images/BackgroundmobilWSterm.svg) no-repeat;
  background-size:100%;
}*/

h1 {
  font-size: 4rem;
    text-align: left;
    position: absolute;
    margin-top: -72px;
    max-width: 40vw;

}

h2{
  font-size: 4rem;
    text-align: left;
    max-width: 40vw;
}

main {
  padding: 50px;
  padding-top: 20vh;
}

 ul{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
 }


ul li {
  display: inline-block;
  padding: 10px;
}

ul li img {
  height: 30px;
  display: flex;
  margin: 10px;
}

/*-haut de page - ppage type-------------*/
.hautpagetype{
  display: grid;
  grid-template-columns: 50vw 1fr;
  align-items: start;
  grid-column-gap: 20px;
}

.titreimg{
  grid-column: 1;
}

.contenttype{
  grid-column: 2;
  text-align: left;
}

.wstype p{
  color: var(--dark-color);
  text-transform: inherit;
  text-align: left;
  font-size: 1.2rem;
}

.galerie img{
  width: 15vw;
  margin: 5px;
}

.description_workshop {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-row: 20vh 20vh;
  align-items: start;
  grid-column-gap: 10px;
  margin-top: 50px;
}

.Info_complémentaires{
  grid-column: 1;
  grid-row: 1 / span 2;
}

.galerie {
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}


.materiel {
   margin-top: 30px;
   margin-bottom: 30px;
   display: grid;
  grid-template-columns: 1fr 1fr;
   align-items: start;
   grid-column-gap: 20px;
}

.materiel ul {
   justify-content: flex-start;
   padding-left: 0;
   grid-column: 1;
}
.materiel h4 {
  display: flex;
   justify-content: flex-start;
   grid-column: 1;
}
.materiel ul li{
   margin: 10px;
}
.materiel ul li img{
   height: 20px;
   justify-content: center;
   margin-right: 0;
}
.materiel button{
   grid-column: 2;
}

.Inscription button{
  padding-left: 50px;
  padding-right: 50px;
}
