body {
  background: url(images/BackgroundmobilWSterm.svg) no-repeat;
  background-size:100%;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  text-align: left;
  margin: 40px;
  margin-top: 20vh;
}

header> svg.icon_logo {
  height: 40vh;
  width: 40vw;

}

/*bouton*/
.ws_annexe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 100px;
}

.ws_annexe a {
  margin: 15px;
}

/*Projet*/
/*Titre*/
.ws-info > h4 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
  padding-left: 0px;
  z-index: 10;
}
.ws-info > p {
  margin-bottom: 10px;
}
/*Description Projet*/
.ws-proj{
  padding: 20px;
  text-align: center;
  background-color: var(--main-color);
  margin-bottom: 50px
}
.ws-proj ul {
  padding: 0px;
}
.ws-proj ul li{
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center ;

  display: inline-block;

}
.ws-proj ul li img{
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}

.ws-btn.ws-btn-dark {
  align-items: center;
  padding: 10px;

}
